/******************************************************************************
TIP: Menu theme displays your links with images from settings.json

Edit / copy or create your own CSS file in public/styles/themes
Select your chosen CSS by adding the theme name (e.g. menu) in settings.json
******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

:root {
  --color-bg: #855b28;
  --color-text-main: #ffffff;
}

body {
  background: fixed linear-gradient(0deg, #362510, #855b28);
}

ul.link-list li a {
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: 300;
  display: flex;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  background-color: var(#362510);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-weight: bold;
  min-height: 4.5rem;
}
ul.link-list li a span {
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: 300;
  text-align: justify;
  line-height: 1.2em;
  flex-grow: 1;
  text-align: center;
}
ul.link-list li a:hover, ul.link-list li a:focus {
  background-color: var(--color-bg);
  font-weight: 300;
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  color: white;
}
ul.link-list li a img {
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: 300;
  border-radius: 0.2rem;
  width: 3;
}
.social-profile-icon path:hover, .social-profile-icon path:focus {
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: 300;
  fill: var(--color-bg);
}

h1 {
  font-family: "Comic Sans MS", "Comic Neue", sans-serif;
  font-weight: bold;
}